* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: sans-serif;
    min-height: 100vh;
    font-weight: bold;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: minmax(75px,auto);
    gap: 5px;
}

.box, .box1, .box2, .box3,footer {
    background-color: rgb(211, 211, 62);
    color: black;
    font-size: 3.rem;
    padding: 0.5rem;
    height: 70px;
}

.box:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(177, 177, 44);
}

.box:nth-child(2),.box:nth-child(3),.box:nth-child(4) {
    background-color: pink;
}

.box1 {
    background-color: lightblue;
}
.box2:nth-child(1) {
    background-color:  rgb(131, 226, 194);
    height: 350px;
    grid-auto-flow: row;
    
}   
.box2:nth-child(2) {
    background-color: rgb(206, 198, 199);
    
    grid-auto-flow: row;
}
.box2:nth-child(3) {
    background-color: rgb(241, 241, 62);
}
.box3:nth-child(1){
    background-color: orange;
}
.box3:nth-child(2){
    background-color: green;
}
.box3:nth-child(3){
    background-color: violet;
}
footer {
    background-color: gray;
}
